#/**
# Copyright (c) 2014 Cory Xie.
# All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2, or (at your option)
# any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
#
# @file    openconf.cfg
# @author  Cory Xie (cory.xie@gmail.com)
# @brief   Board config file for i.MX61 SOC
#*/

choice
	bool
	prompt "imx61 Target Board"
	help
		Select a target boards from available boards

if CONFIG_BOARD_IMX61
	config CONFIG_BOARD_SD
		bool "SD"
		help
			i.MX61 Smart Device devboard Support
endif

endchoice

if CONFIG_BOARD_SD
source "arch/arm/board/imx61/dts/sd/openconf.cfg"
endif
